remoteIpAddress=10.33.27.8
remotePortNum=1995
sectionMinSpeed=10
sectionMaxSpeed=31
rangeXMax=260
samplePoolNum=6000
device0isTunnel=1
device0KeyCenterLong=130
device0Range=260
device0CanName=can2
device0USBIndex=0
device0CanIndex=0
device0RadarModuleName=40821.module
device0GlobalRadarID=100801001
device0IncomingLaneNum=3
device0OutgoingLaneNum=3
device0StartOutgoingLaneNum=1
device0StartIncomingLaneNum=1
device0IsDriveRight=1
device1isTunnel=1
device1KeyCenterLong=130
device1Range=260
device1CanName=can3
device1USBIndex=0
device1CanIndex=0
device1RadarModuleName=40821.module
device1GlobalRadarID=100801002
device1IncomingLaneNum=3
device1OutgoingLaneNum=3
device1StartOutgoingLaneNum=1
device1StartIncomingLaneNum=1
device1IsDriveRight=1